name: Build Web to APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    # This action automatically wraps your HTML into an APK
    - name: Web to APK
      uses: darkshredder/website-to-apk-action@v1
      with:
        app-name: "MyGame"
        build-folder-path: "." # The folder where your index.html is ('.' means root)
        
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: debug-apk
        path: apk/ # The action usually outputs to this folder
